[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Flask = "*"
gunicorn = "*"
SQLAlchemy = "*"
psycopg2 = "*"
python-dotenv = "*"
passlib = "*"
requests = "*"

[dev-packages]

[requires]
python_version = "3.8"
